html, body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #80A8D6;
}

#message {
  font-size: 30;
  padding-top: 20px;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  background-color: #80A8D6;
  align-items: center;
}

input {
  margin: 0;
}

input[type=text] {
  border-radius: 5px;
  display: block;
  text-align: center;
  align-content: center;
}

input[type=submit] {
  text-decoration: none;
  appearance: none;
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 5px;
}

#title {
  font-size: 30px;
  height: 50%;
  text-align: center;
}

.text {
  text-align: center;
  display: block;
}

.option {
  height: 10%;
}

.foot {
  margin-top: 10%;
  position: relative;
}

#scoreboard {
  background-color: #ADDFAD;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

#container {
  display: block;
  height: 600px;
  text-align: right;
}

.enemy {
  display: inline;
  height: 80px;
  width: 75px;
  position: absolute;
}

.chair {
  background-image: url('./assets/pixel-chair.png');
  background-size: cover;
}

#field {
  height: 600px;
  width: 300px;
  text-align: center;
  float: left;
}

#sprite {
  background-image: url('./assets/tiny-sprite.gif');
  border: 1px dotted blue;
  background-position: top-center;
  display: inline-block;
  height: 75px;
  width: 75px;
  position: fixed;
  bottom: 50%;
}

.friend {
  background-image: url('./assets/plate-background.jpg');
  height: 50px;
  width: 50px;
  position: absolute;
  display: inline;
}

.table {
  background-image: url('./assets/table-cloth.jpg');
  width: 100px;
  display: inline;
  position: absolute;
}

#final {
  background-color: #ADDFAD;
  color: red;
  height: auto;
  width: 175px;
  position: fixed;
  bottom: 50%;
  left: 50%;
}

#pauseScreen {
  /*background-color: #ADDFAD;*/
  color: red;
  height: auto;
  width: auto;
  position: fixed;
  top: 50%;
  left: 30%;
  font-size: 75px;
}
